input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div[class="submit"]{
  text-align: center;
}

div[class="reset"]{
  text-align: right;
}

button {
  width: 49.8%;
  background-color: #4c56af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

input[type=submit] {
  width: 10%;
  background-color: #4c56af;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset] {
  width: 8%;
  background-color: #f32f2f;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h1{
  text-align: center;
  padding: 10px 20px;
  background-color: #4c56af;
  color: white;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
}

img{
  display:block ;
  margin:auto;
}